STELLAR_NETWORK=testnet
HORIZON_URL=https://horizon-testnet.stellar.org
PUBLIC_KEY=your_employer_public_key_here
SECRET_KEY=your_employer_secret_key_here
WORKER_PUBLIC_KEY=worker_stellar_public_key_here
USDC_ISSUER=GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5
